.nav-link{
  color: black;
  transition: .4s ease;
}
.nav-link:hover{
  color: #833de7;
}
.choose1{
  background: url('./assets/img/img-1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.choose2{
  background: url('./assets/img/img-2.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.choose3{
  background: url('./assets/img/img-3.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}